:root {
  --heading-font-family: "Noto Serif Gujarati", serif;
  --default-font-family: "Roboto", sans-serif;
  --branding-color-light: #a8d2a0;
  --branding-color-dark: #4e6949;
  --branding-color-medium: #82b379;
  --secondary-color: #f8f7ea;
}

body {
  background-color: var(--secondary-color);
  font-family: var(--default-font-family);
}
h1 {
  color: var(--branding-color-dark);
  font-family: var(--heading-font-family);
  /*font-family: "Titillium Web", sans-serif*/
  font-weight: bold;
  font-size: 70px;
}
h2 {
  font-family: var(--heading-font-family);
  font-weight: bold;
  font-size: 38px;
  color: var(--branding-color-dark);
}
h3 {
  font-family: var(--heading-font-family);
  color: black;
  opacity: 0.8;
  font-weight: 700;
}
nav li {
  letter-spacing: 2px;
  margin-left: 25px;
  font-weight: bold;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
img {
  box-shadow: 2px 3px 5px var(--branding-color-medium);
  border-radius: 21px;
  max-width: 100%;
}
img:hover {
  box-shadow: 3px 5px 10px var(--branding-color-dark);
}
.navbar-brand {
  font-weight: bold;
  font-family: var(--heading-font-family);
}
.about {
  font-size: 35px;
  font-weight: 500;
  font-family: var(--default-font-family);
  opacity: 0.9;
}

.hero p {
  font-size: 35px;
  font-weight: 500;
  font-family: var(--default-font-family);
  opacity: 0.9;
}
.hero {
  text-align: left;
  /*padding: 100px 20px;*/
}
.content-container {
  padding: 100px 20px;
}
.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  font-weight: 500;
}
.bg-lightgreen {
  background-color: var(--branding-color-light);
}
.content {
  margin: 30px;
}
.hero img {
  border-radius: 10px 100px / 120px;
  box-shadow: var(--branding-color-light) 3px 5px 2px 5px;
}
.hero img:hover {
  box-shadow: 3px 5px 10px var(--branding-color-dark);
}
.about-image img {
  box-shadow: 2px 3px 5px var(--branding-color-medium);
  border-radius: 21px;
  max-width: 50%;
  /* margin: 40px;*/
}
.project-image {
  padding: 10px;
}
.main:hover {
  box-shadow: 3px 5px 10px var(--branding-color-dark);
}
.fa-arrow-down {
  color: var(--branding-color-dark);
}
.fa-reply-all {
  color: var(--branding-color-dark);
}
.fa-right-long {
  color: var(--branding-color-dark);
}

.typewriter h1 {
  overflow: hidden;
  border-right: 0.15em solid var(--branding-color-light);
  margin: 0 auto;
  width: 0;
  animation: typing 1.7s steps(50, end) forwards, blink-caret 0.75s infinite;
}
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
.btn-get-started {
  background-color: var(--branding-color-light);
  color: black;
  text-transform: uppercase;
  border-radius: 25px;
  padding: 15px 20px;
}
.btn-get-started:hover {
  background-color: var(--branding-color-medium);
  transition: 0.5s;
}
.btn-projects {
  background-color: var(--secondary-color);
  color: var(--branding-color-medium);
  text-transform: uppercase;
  border: solid var(--branding-color-medium);
  border-radius: 25px;
  padding: 15px 20px;
}
.btn-projects:hover {
  color: var(--branding-color-dark);
  border: solid var(--branding-color-dark);
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 50px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content {
    padding: 0;
    /*text-align: center;*/
    margin: 24px 24px;
  }
  .content-container {
    padding: 50px 20px;
  }
}
@media (max-width: 1200px) {
  .about-image img {
    margin: 40px;
  }
}
